hr
.btn#btn-home.btn.btn-primary(type="button" onclick="home()") 
	| Koppel Range
.btn#btn-edit.btn.btn-primary(type="button" onclick="edit()") 
	| Ranges
.btn#btn-customers.btn.btn-primary(type="button" onclick="customers()") 
	| Klanten
.btn#btn-rangeManagement.btn.btn-primary(type="button" onclick="rangeManagement()") 
	| Range Management