hr
.btn#btn-home.btn.btn-primary(type="button" onclick="home()") 
	| Nieuwe range
.btn#btn-edit.btn.btn-primary(type="button" onclick="edit()") 
	| Aanpassen range
.btn#btn-delete.btn.btn-primary(type="button" onclick="deleteRange()") 
	| Onbekend