
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#new-range-form-container.center-vertical
	form(method="post")#new-range-form.form-horizontal.well
		h2
		h6#sub1 NEW RANGE 
		
		include menuRange
		hr

		.form-group
			label.control-label.col-sm-2 Range
			.col-sm-7
				input.form-control#new-range-tf(type='text', name='range')
		
		.form-group
			label.control-label.col-sm-2 Leverancier Verbinding
			.col-sm-7
				select.form-control#couple-range-partner-list(name='partner')
					each item in partners
						option(value=item.name,selected=item.name)=item.name

		hr
		.form-buttons
			button(type='submit')#add-customer-to-db-btn.btn.btn-success
		.clearfix

// display form errors in a custom modal window //

include ../modals/form-errors
include ../modals/form-success