
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#range-management-form-container.center-vertical
	form(method="post")#range-form.form-horizontal.well
		h2
		h6#sub1 RANGEMANAGEMENT
		
		include menuRange
		hr


		table.table.table-hover.table
			thead
				tr
					th Range
					th Partner
					th Opties

			each item in posts
				tr
					td #{item.range}
					td #{item.partner}
					td
						button(type='button' onclick='removeRange(\'' + item.id + '\')')#remove-range-edit-range-button.btn.btn-danger Verwijder

		hr
		.form-buttons
			button(type='button' onclick="newRange()")#add-range-btn.btn.btn-primary
			button(type='submit')#send-form-request-btn1.btn.btn-primary
		.clearfix



// display form errors in a custom modal window //

include ../modals/form-errors
include ../modals/form-success