
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#range-form-container.center-vertical
	form(method="post")#range-form.form-horizontal.well
		h2
		h6#sub1 NEW VENSTER 
		
		include menuRange
		hr
		.form-group
			label.control-label.col-sm-2 Installatie Partij
			.col-sm-7
				input.form-control#name-tf(type='text', name='name', value= user.name)

		.form-group
			label.control-label.col-sm-2 KlantNummer
			.col-sm-7
				input.form-control#email-tf(type='text', name='email', value= user.email)

		.form-group
			label.control-label.col-sm-2 KlantNaam
			.col-sm-7
				select.form-control#country-list(name='country')
					each item in countries
						option(selected=item.name == user.country)= item.name
		
		h6#sub2
		.form-group
			label.control-label.col-sm-2 Discipline
			.col-sm-7
				input.form-control#user-tf(type='text', name='user', value= user.user).disabled

		.form-group
			label.control-label.col-sm-2 Afdeling Aanvrager
			.col-sm-7
				input.form-control#pass-tf(type='password', name='pass', value='')

		hr
		.form-buttons
			button(type='submit')#account-form-btn2.btn.btn-primary
		.clearfix

// display form errors in a custom modal window //

include ../modals/form-errors