
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#couple-range-form-container.center-vertical
	form(method="post")#couple-range-form.form-horizontal.well
		h2
		h6#sub1 NEW VENSTER 
		
		include menuRange
		hr

		.form-group
			label.control-label.col-sm-2 Klant
			.col-sm-7
				select.form-control#couple-range-customer-list(name='customer')
					each item in customers
						option(value=item.id,selected=item.id)=item.name

		.form-group
			label.control-label.col-sm-2 Range
			.col-sm-7
				select.form-control#couple-range-range-list(name='range')
					each item in ranges
						option(value=item.id,selected=item.id)=item.partnerAndRange
		
		.form-group
			label.control-label.col-sm-2 Afdeling Aanvrager
			.col-sm-7
				select.form-control#couple-range-unit-list(name='unit')
					each item in units
						option(value=item.short,selected=item.name)= item.name
		
		.form-group
			label.control-label.col-sm-2 Afdeling Aanvrager
			.col-sm-7
				.controls
				button(type='button').btn.btn-default.button-spoed
					span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
					| Ja

		hr
		.form-buttons
			button(type='submit')#send-form-request-btn1.btn.btn-primary
		.clearfix

// display form errors in a custom modal window //

include ../modals/form-errors
include ../modals/form-success