
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#range-form-container.center-vertical
	form(method="post")#range-form.form-horizontal.well
		h2
		h6#sub1 NEW VENSTER 
		
		include menuRange
		hr
		.form-group
			label.control-label.col-sm-2 Leverancier Verbinding
			.col-sm-7
				select.form-control#partner-list(name='partner')
					each item in partners
						option(value=item.short,selected=item.name)=item.name

		.form-group
			label.control-label.col-sm-2 Klant Nummer
			.col-sm-7
				input.form-control#email-tf(type='number', name='number', value= user.email)

		.form-group
			label.control-label.col-sm-2 Klant Naam
			.col-sm-7
				input.form-control#name-tf(type='text', name='nameCustomer', value= user.name)
		
		h6#sub2
		.form-group
			label.control-label.col-sm-2 Discipline
			.col-sm-7
				select.form-control#discipline-list(name='discipline')
					each item in diciplines
						option(value=item.short,selected=item.name)= item.name

		.form-group
			label.control-label.col-sm-2 Afdeling Aanvrager
			.col-sm-7
				select.form-control#unit-list(name='unit')
					each item in units
						option(value=item.short,selected=item.name)= item.name

		hr
		.form-buttons
			button(type='submit')#send-form-request-btn1.btn.btn-primary
		.clearfix

// display form errors in a custom modal window //

include ../modals/form-errors