
.modal-form-success.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Success ! 
			.modal-body
				| Actie is uitgevoerd
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-primary OK